<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>E-Commerce Website</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>My E-Commerce Site</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/index.html">Home</a></li>
                <li><a href="../pages/product.html">Products</a></li>
                <li><a href="../pages/cart.html">Cart</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>